{% extends 'base.html.twig' %}
{% block body %}
<h1>Inscription pour la gestion d'article </h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-success">Inscription</button>
{{ form_end(form) }}
<div class="container">
  <hr>
  <p class="text-center">  Copyright &copy; 2022 </p>
</div>
{% endblock %}